{{!-- <h1>file index page</h1>
<div>
    <form action="files/upload" method="POST" enctype="multipart/form-data">
        Select File: <input type="file" name="myFiles" multiple>
        <input type="submit" value="upload your files">
        <button type="submit">Submit Button</button>
    </form>
</div> --}}

<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto">
            <h1 class="text-center display-5 my-4">File Storage</h1>
            <hr size="30">
            <h3 class="text-center display-7 my-4">File Upload</h3>
            <form action="files/upload" method="POST" enctype="multipart/form-data">
                <div class="custom-file mb-3">
                    <input type="file" name="file" id="file" class="custom-file-input">
                    <label for="file" class="custom-file-label">Choose File</label>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
            <hr>
            <h3 class="text-center display-7 my-4">User Files</h3>
            {{#if files}}
            {{#each files}}
            <div class="card card-body mb-3">
                {{this.filename}}
                <form action="files/{{this._id}}?_method=DELETE" method="POST">
                    <button class="btn btn-danger btn-block mt-4">DELETE</button>
                </form>
            </div>
            {{/each}}
            {{else}}
            <p>No file exist</p>
            {{/if}}
        </div>

    </div>
</div>